
# .DS_Store
.DS_Store

# data
data/

# models
models/

# logs
logs/

# cache
cache/

# temp
temp/

# virtualenv
venv/

# IDE
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/

# Node.js
node_modules/    